.development-loadmap-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.development-loadmap-control h2 {
    font-size: 60px;
}

@media only screen and (max-width: 600px) {
    .development-loadmap-control h2 {
        padding: 10px;
        font-size: 40px;
    }
}